* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monrope', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

body {
    background-color: hsl(210, 46%, 95%);
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 375px;
    border-radius: 15px;
    overflow: hidden;

}


.banner {
    width: 100%;
}

section {
    padding: 50px 35px 25px 35px;
    position: relative;
}

.title,
.name {
    font-size: 19px;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}



.date,
.name {
    line-height: 24px;
}

p {
    color: hsl(214, 17%, 51%);
}

.text {
    margin: 20px 0;

}

.share_section {
    margin-top: 30px;
    width: 100%;
    display: -webkit-flex;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user {
    margin-left: 10px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: hsl(217, 19%, 35%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 35px 70px;
    transition: 0.2s;
}

.popup.active {
    display: -webkit-flex;
    animation: appear 0.5s;
}

.share {
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 30px;
}

.icon {
    margin-left: 20px;
    line-height: 30px;
}

.fab {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.switch {
    flex-grow: 1;
    align-self: center;
    text-align: right;
}

.switch_btn {
    position: relative;
    z-index: 2;
    margin-left: 40px;
    background-color: hsl(210, 46%, 95%);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    color: hsl(214, 17%, 51%);
    cursor: pointer;
    transition: 0.2s;
}

.switch_btn.active {
    background-color: hsl(214, 17%, 51%);
    color: #fff;
}

@media(min-width: 1440px) {

    .wrapper {
        width: 900px;
        height: 250px;
        display: -webkit-flex;
        overflow: initial;
    }



    .banner {
        height: 100%;
        width: 300px;
        border-radius: 15px 0 0 15px;
    }

    section {
        padding: 30px 35px 25px 35px;
        position: initial;
    }


    .text,
    .title {
        line-height: 22px;
    }



    .user {
        margin-left: 20px;
    }


    .popup {
        display: none;
        transition: 0.2s;
    }


    .popup.active {
        display: flex;
        position: fixed;
        z-index: 1;
        left: inherit;
        right: -100px;
        bottom: 75px;
        width: 320px;
        height: 70px;
        padding: 20px 50px;
        border-radius: 15px;
        animation: appear 0.2s;
    }

    .popup.active::after {

        content: "";
        position: absolute;
        top: 100%;
        left: 52%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: hsl(217, 19%, 35%) transparent transparent transparent;

    }



    .switch_btn {
        margin-left: 257px;

    }

}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}